# Projeto 2 - Pegar os dados do site Fundamentus para automatizar o modelo de Factoring Invest

## Passo a passo:

* Passo 1: Definir o navegador;
* Passo 2: Baixar as bibliotecas;
* Passo 3: Configurar as requisições na internet

### Passo 1: Navegador

Google chrome

### Passo 2: Bibliotecas

In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

### Passo 3:

In [2]:
#driver = webdriver.Chrome()
driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()))

In [3]:
url = 'https://www.fundamentus.com.br/resultado.php'
driver.get(url)

### Passo 6 - Ler a tabela de Dados

In [4]:
# Indicando o local dos dados
local_tabela = '/html/body/div[1]/div[2]/table'

# Indicando onde os dados estão no site
elemento = driver.find_element("xpath", local_tabela)

# Pegando a tabela do site
html_tabela = elemento.get_attribute("outerHTML")

tabela = pd.read_html(str(html_tabela), thousands = '.', decimal = ',')[0]

tabela

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
0,PORP4,2.40,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","-2,08%",0.0,2.239900e+07,0.00,"13,66%"
1,CFLU4,1000.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"8,88%","10,72%",1.10,"17,68%","32,15%",0.0,6.035100e+07,0.06,"8,14%"
2,CSTB4,147.69,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"40,85%","28,98%",2.60,"22,40%","20,11%",0.0,8.420670e+09,0.14,"31,91%"
3,CSTB3,150.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"40,85%","28,98%",2.60,"22,40%","20,11%",0.0,8.420670e+09,0.14,"31,91%"
4,IVTT3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","-0,40%",0.0,1.083050e+09,0.00,"20,67%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,PRBC4,14.54,502.29,40.26,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","8,02%",0.0,1.176410e+09,0.00,"-6,01%"
982,UBBR4,7.49,610.27,1.99,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.0,1.031720e+10,0.00,"10,58%"
983,UBBR11,14.75,1201.81,3.91,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.0,1.031720e+10,0.00,"10,58%"
984,UBBR3,18.00,1466.61,4.77,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.0,1.031720e+10,0.00,"10,58%"
985,SQIA3,27.16,2723.49,3.73,3.638,"0,20%",1.488,26.84,42.91,-3.69,...,16.36,"8,48%","0,45%",1.44,"4,04%","0,14%",37133100.0,6.397490e+08,0.67,"46,25%"

### Passo 7: Construir a tabela final

In [5]:
tabela = tabela.set_index('Papel')

In [6]:
tabela = tabela[['Cotação', 'EV/EBIT', 'ROIC', 'Liq.2meses']]
tabela

        Cotação  EV/EBIT    ROIC  Liq.2meses
Papel
PORP4      2.40      0.0   0,00%         0.0
CFLU4   1000.00      0.0  17,68%         0.0
CSTB4    147.69      0.0  22,40%         0.0
CSTB3    150.00      0.0  22,40%         0.0
IVTT3      0.00      0.0   0,00%         0.0
...         ...      ...     ...         ...
PRBC4     14.54      0.0   0,00%         0.0
UBBR4      7.49      0.0   0,00%         0.0
UBBR11    14.75      0.0   0,00%         0.0
UBBR3     18.00      0.0   0,00%         0.0
SQIA3     27.16     46.7   4,04%  37133100.0

[986 rows x 4 columns]

In [7]:
# Tratar a coluna do ROIC
tabela['ROIC'] = tabela['ROIC'].str.replace('%', "")
tabela['ROIC'] = tabela['ROIC'].str.replace('.', "")
tabela['ROIC'] = tabela['ROIC'].str.replace(',', ".")
tabela['ROIC'] = tabela['ROIC'].astype(float)
tabela

C:\Users\d311r.DESKTOP-O2NL7MH\AppData\Local\Temp\ipykernel_5460\91648003.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tabela['ROIC'] = tabela['ROIC'].str.replace('.', "")

        Cotação  EV/EBIT   ROIC  Liq.2meses
Papel
PORP4      2.40      0.0   0.00         0.0
CFLU4   1000.00      0.0  17.68         0.0
CSTB4    147.69      0.0  22.40         0.0
CSTB3    150.00      0.0  22.40         0.0
IVTT3      0.00      0.0   0.00         0.0
...         ...      ...    ...         ...
PRBC4     14.54      0.0   0.00         0.0
UBBR4      7.49      0.0   0.00         0.0
UBBR11    14.75      0.0   0.00         0.0
UBBR3     18.00      0.0   0.00         0.0
SQIA3     27.16     46.7   4.04  37133100.0

[986 rows x 4 columns]

### 7.3 Filtros

In [8]:
tabela = tabela[tabela['Liq.2meses'] > 1000000]
tabela = tabela[tabela['EV/EBIT'] > 0]
tabela = tabela[tabela['ROIC'] > 0]

In [9]:
tabela['ranking_ev_ebit'] = tabela['EV/EBIT'].rank(ascending = True)
tabela['ranking_roic'] = tabela['ROIC'].rank(ascending = False)
tabela['ranking_total'] = tabela['ranking_ev_ebit'] + tabela['ranking_roic']

In [10]:
tabela = tabela.sort_values('ranking_total')
tabela

,Cotação,EV/EBIT,ROIC,Liq.2meses,ranking_ev_ebit,ranking_roic,ranking_total
Papel,,,,,,,
PSSA3,25.26,0.20,60.76,3.378900e+07,1.0,1.0,2.0
PETR4,35.44,2.60,28.95,1.737520e+09,4.0,9.5,13.5
UNIP6,70.85,4.46,38.68,1.591610e+07,11.5,3.0,14.5
PETR3,38.48,2.75,28.95,4.785100e+08,5.0,9.5,14.5
KEPL3,10.50,4.64,43.61,1.328970e+07,16.5,2.0,18.5
...,...,...,...,...,...,...,...
PCAR3,3.37,42.33,0.24,3.933670e+07,181.0,189.0,370.0
CBAV3,3.68,81.13,0.53,1.638600e+07,184.0,186.0,370.0
AMAR3,2.70,114.65,0.58,3.333730e+06,187.0,185.0,372.0
MRVE3,8.33,169.23,0.33,1.377960e+08,188.0,188.0,376.0
BRFS3,10.52,258.27,0.39,2.416730e+08,189.0,187.0,376.0

In [11]:
tabela.head(10)

tickers = tabela.index

tickers

Index(['PSSA3', 'PETR4', 'UNIP6', 'PETR3', 'KEPL3', 'WIZC3', 'VLID3', 'FESA4',
       'PLPL3', 'GOAU4',
       ...
       'BRPR3', 'EZTC3', 'LWSA3', 'ITSA4', 'ITSA3', 'PCAR3', 'CBAV3', 'AMAR3',
       'MRVE3', 'BRFS3'],
      dtype='object', name='Papel', length=189)

### Baixar e configurar o MT5

* Cada corretora é de uma forma;
* Conta demo, sempre!

In [12]:
# !pip install MetaTrader5

### Importar Bibliotecas

In [13]:
import MetaTrader5 as mt5

In [14]:
# inicializar o MetaTrader 5

mt5.initialize()

True

## Configurar o dicionário de ordem de compra das ações

In [15]:
for ticker in tickers:
    mt5.symbol_select(ticker)
    preco = mt5.symbol_info(ticker).ask
    quantidade = 100.0
    ordem_compra = {
        "action": mt5.TRADE_ACTION_DEAL,
        "symbol": ticker,
        "volume": quantidade,
        "type":   mt5.ORDER_TYPE_BUY,
        "price":  preco,
        "magic":  1,
        "comment":      "Trades hackeando a bolsa",
        "type_time":    mt5.ORDER_TIME_DAY,
        "type_filling": mt5.ORDER_FILLING_RETURN,
    }

Index(['PSSA3', 'PETR4', 'UNIP6', 'PETR3', 'KEPL3', 'WIZC3', 'VLID3', 'FESA4',
       'PLPL3', 'GOAU4',
       ...
       'BRPR3', 'EZTC3', 'LWSA3', 'ITSA4', 'ITSA3', 'PCAR3', 'CBAV3', 'AMAR3',
       'MRVE3', 'BRFS3'],
      dtype='object', name='Papel', length=189)